html, body {
    font-family: serif;
}
body {
    margin: 20px;
}

.execute{
    border: 2px solid darkred;
    box-shadow: 5px 5px 5px 5px black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
