*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr auto 1fr;
    grid-template-areas: "header header" "aside nav" "aside main" "footer footer"
}

header{
    grid-area: header;
    background: #2c3e50;
    color: #f6f7f8;
}

nav{
    grid-area: nav;
    background: #2c3e50;
    color: #f6f7f8;
}

footer{
    grid-area: footer;
    display: flex;
    justify-content: end;
    background: #2c3e50;
    color: #f6f7f8;
}

aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    background: #476e9e;
}

aside>a{
    text-decoration: none;
    color: #f6f7f8;
}

main{
    grid-area: main;
    background: #16a085;
}

.code{
    background: #777;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

.code>p{
    padding: 10px;
}

.buttons{
    margin: 20px;
}

h3{
    margin: 10px;
}

h3>span{
    color: red;
}

#test, #test2, #test3{
    height: 100px;
    width: 100px;
    background: orange;
    border: 3px solid red;
    border-radius: 10px;
}

.example{
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

#test4{
    color: red;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}