*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    margin: 20px;
}

.code{
    background: #777;
    border: 3px solid red;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 10px 10px 10px green;
}

.red{
    color: darkred;
}

.green{
    color: darkgreen;
}

.blue{
    color: darkblue;
}